// bower:scss
// endbower

@font-face {
  font-family: "Gotham Black";
  src: url("../fonts/Gotham-Black.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Bold Regular";
  src: url("../fonts/Gotham-Bold-Regular.otf") format("opentype"),
    url("../fonts/Gotham-Bold-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Bold Italic";
  src: url("../fonts/Gotham-Bold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

$darkblue: #172238;
$orangeSlides: #fbaf3f;

$ligthblue: #33ccff;

@mixin aspect-ratio($width, $height) {
  position: relative;
  width: 100%;
  padding-bottom: ($height / $width) * 100%;
}

#a2030-container {
  &.aspect-ratio {
    @include aspect-ratio(16, 9);
    .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    #chart-lines {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      pointer-events: none;
      line.floating-lines {
        stroke: $ligthblue;
        stroke-width: 1;
        stroke-opacity: 0.5;
      }
    }
  }
}

#controls {
}

#timer {
  width: 100%;
  height: 5px;
  background: green;
  position: absolute;
  z-index: 10;
}

h1 {
  color: #fff;
}

#slide1 {
  background: url(../images/slide1_fondo.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1 {
    font-family: "Gotham Black", sans-serif;
  }
}

#slide2 {
  background-color: $darkblue;
}

#slide3 {
  background-color: $darkblue;
}

#slide4 {
  background-color: $darkblue;
}

#slide5 {
  background: url(http://via.placeholder.com/1319x546) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide6 {
  background: url(http://via.placeholder.com/1319x546) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide7 {
  background-color: $darkblue;
  .icon-two {
    margin-top: 200px;
  }

  .icon-three {
    margin-top: 100px;
  }
}

#slide8 {
  background-color: $darkblue;
  .icon-two-slide-8 {
    margin-top: 50px;
  }

  .icon-three-slide-8 {
    margin-top: -100px;
  }
}

#slide9 {
  background: url(http://via.placeholder.com/1319x546) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section1 {
  color: #fff;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 100%;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.avanzar {
  margin-top: 70px;
}

.text-slide-two {
  color: #fff;
}

.margin-top-image-slider-two {
  margin-top: 30px;
}

p {
  font-size: 18px;
  line-height: 32px;
}

.buttons-slides {
  background-color: $darkblue;
  text-transform: uppercase;
  border: #fff solid 1px;
  color: white;
  padding: 2px 10px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  &:hover {
    background: $orangeSlides;
  }
}

.big-text-slides {
  font-size: 24px;
  color: #fff;
}

.back-color-titles {
  background-color: $orangeSlides;
  margin-bottom: 10px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #a2030-container {
    &.aspect-ratio {
      @include aspect-ratio(16, 9);
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #a2030-container {
    &.aspect-ratio {
      @include aspect-ratio(4, 3);
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #a2030-container {
    &.aspect-ratio {
      @include aspect-ratio(3, 4);
    }
  }
  #slide7 {
    .icon-two {
      margin-top: 0px;
    }
    .icon-three {
      margin-top: 0px;
    }
  }

  #slide8 {
    .icon-two-slide-8 {
      margin-top: 0px;
    }

    .icon-three-slide-8 {
      margin-top: 0px;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #a2030-container {
    &.aspect-ratio {
      @include aspect-ratio(3, 5);
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  #a2030-container {
    &.aspect-ratio {
      @include aspect-ratio(3, 8);
    }
  }
}
